* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.select-box {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	max-width: 400px;
	width: 100%;
	align-items: center;
}

.select-box .board-title {
	font-size: 22px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
}

.select-box .options {
	display: flex;
	width: 100%;
}

.options button {
	width: 100%;
	margin-top: 15px;
	font-size: 20px;
	padding: 8px 0;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease;
}

.options button:hover {
	background-color: #333;
	transform: scale(0.9);
	color: #fff;
}

.options button.playerX {
	margin-right: 5%;
}
.options button.playerO {
	margin-left: 5%;
}
.play-board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-board section div {
	display: inline-block;
	height: 130px;
	width: 130px;
	margin: 2px;
	background-color: #ccc;
	font-size: 40px;
	text-align: center;
	line-height: 130px;
}

.results-table {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40%;
	left: 90%;
	width: 15%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	font-weight: 600;
	font-size: 22px;
	padding: 10px;
}

.results-title {
	text-align: center;
	margin-bottom: 20px;
}
.grid {
	display: grid;
	width: 100%;
	grid-template-columns: 3fr 1fr;
}
